systemapi-travelontip/target/classes/systemapi-travelontrip.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="systemapi-travelontrip-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="systemapi-travelontrip-config" api="systemapi-travelontrip.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="d5ebf9b4-ed8f-495e-bd05-3a59a8dac9d8" file="properties\dev.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="6165c6fa-aa5a-46bf-b45e-87070655a240" file="properties\dev.yaml" />
	<configuration doc:name="Configuration" doc:id="8b618039-6c73-4cc3-84c0-046ba43e222c" defaultErrorHandler-ref="globalerrorhandlerError_Handler" />
	<flow name="systemapi-travelontrip-main">
        <http:listener config-ref="systemapi-travelontrip-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="systemapi-travelontrip-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ef98f673-da51-4e34-a6a4-f60217bbe97a" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="ab28d928-8e6d-49fe-9e49-c8a1c811961e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"message":"Error handled "]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="systemapi-travelontrip-console">
        <http:listener config-ref="systemapi-travelontrip-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="systemapi-travelontrip-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\(transporttype)\(transportCompany)\Schedules:systemapi-travelontrip-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transporttype"><![CDATA[attributes.uriParams.'transporttype']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionid" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d314e338-83fc-4e02-b170-b976446df90d" message="requset received for travelontip get schedules system api transactionid: #[vars.transactionid]"/>
		<flow-ref doc:name="Flow Reference" doc:id="94afe5af-aad8-4130-9155-ca517f5aace7" name="travelontip-getschedulesSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="b1b3905a-d3a8-4e7d-9d34-376387e27f65" message="responce sent to travelontip get schedules system api transactionid: #[vars.transactionid]"/>
    </flow>
	<flow name="get:\(transporttype)\(transportCompany)\routes:systemapi-travelontrip-config" doc:id="aa58aa36-4503-4bf6-a313-a7956a433915">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transporttype"><![CDATA[attributes.uriParams.'transporttype']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionid" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="017227f4-56e2-4962-bd1f-5596efcfb2fc" message="requset received for travelontip get routes system api transactionid: #[vars.transactionid]"/>
		<flow-ref doc:name="Flow Reference" doc:id="99dba438-67b1-49dd-9169-5b94e62e3912" name="travelontip-getroutesSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7f20f97-eee3-4818-9573-406e09fa02f0" message="responce sent to travelontip get routes system api transactionid: #[vars.transactionid]"/>
    </flow>
</mule>
